@model List<Process>

<section aria-label="section" class="no-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Özelliklerimiz</h2>
                <p>Unutulmaz maceralara ve kesintisiz mobilite çözümlerine giden yolda konfor, güvenlik ve kişiselleştirilmiş hizmet dünyasını keşfedin.</p>
                <div class="spacer-20"></div>
            </div>
            <div class="clearfix"></div>

            <div class="col-lg-3">
                @foreach (var item in Model.Take(2))
                {
                    <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                        <i class="fa bg-color @item.Icon"></i>
                        <div class="d-inner">
                            <h4>@item.Title</h4>
                            @item.Description
                        </div>
                    </div>
                }
            </div>

            <div class="col-lg-6">
                <img src="/RentalyHTML/images/misc/car-2.png" alt="" class="img-fluid wow fadeInUp">
            </div>

            <div class="col-lg-3">
                @foreach (var item in Model.Skip(2).Take(2))
                {
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInLeft" data-wow-delay="1s">
                        <i class="fa bg-color @item.Icon"></i>
                        <div class="d-inner">
                            <h4>@item.Title</h4>
                            @item.Description
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>